body{
	margin :0;
	padding: 0;
	background :url(img1.jpg); 
	background-size: cover;
	font-family :sans-serif;
	}
	
	.loginbox{
		
		
		
	}
	
	.avator{
		width : 100px;
		height:100px;
		position: absolute;
		border-radius:50%;
		top: -50%;
		left: calc(50% -50px);
		
	}
	
	table.center {
    margin-left:auto; 
    margin-right:auto;
  }
	 .loginbox h2{
		
		margin :0;
		padding: 0;
		text-align:center;
		font-size:21px;
		color:blue;
		
	}
	.loginbox .inputbox{
		position: relative;
		
		
	}
	.loginbox p{
		text-align:center;
		color:blue;
	}
	.loginbox a{
		text-align:center;
		color:blue;
		
		
		
	}
	
	.loginbox h1{
		margin :0 0 30px;
		padding: 0;
		text-align:center;
		font-size:21px;
		color:blue;
		
		
		
		
	}
	.loginbox .inputbox input{
		width:100%;
		padding:10px 0;
		font-size:16px;
		color:blue;
		margin-bottom:30px;
		border:none;
		border-bottom:1px solid blue;
		outline:none;
		background:transparent;
		
		
	}
	.loginbox .inputbox label{
		
		position: absolute;
		top:0;
		left:0;
		padding:10px0;
		font-size:16px;
		color:blue;
		pointer-events: none;
		transition:.5s;
		
	}
	.loginbox .inputbox input:focus ~ label,
	.loginbox .inputbox input:valid ~ label
	{
		
		top: -18px;
		left: 0;
		color:#00bfff;
		font-size:15px;
	}
	
	.loginbox input[type="submit"]
	{
		background:trasparent;
		border-bottom:none;
		outline:none;
		color:blue;
		background:#00bfff;
		padding:10px 20px;
		cursor:pointer;
		bolder-radius:5px;
		
	}
	.loginbox button[type="button"]
	{
		background:trasparent;
		border-bottom:none;
		outline:none;
		color:blue;
		background:#00bfff;
		padding:10px 20px;
		cursor:pointer;
		bolder-radius:5px;
		
	}
		
		
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	